.git
.devhub
.tmp
dist
node_modules
storage
web/frontend
web/admin-vue
web/frontend-app/node_modules
web/admin-app/node_modules
web/frontend-app/.astro
web/frontend-app/dist
web/admin-app/dist
web/admin-app/test-results
web/frontend-app/test-results
**/.DS_Store
**/coverage
**/playwright-report
